/* Wiki */

.wiki_title{
    font-size: 1.5em;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 480px;
    background-color: black;
    color: #fff;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}


/* Steps */

.step_container{
    width: 800px;
}

.progress_bar{
    position: relative;
    width: 800px;
    height: 30px;
    background: lightgrey;
    border-radius: 8px;
    border: 3px solid black;
}

.progress_bar_fill{
    height: 100%;
    width: 0%;
    border-radius: 8px;
    background: limegreen;
    transition: width 1.2s;
}

.progress_bar_value{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.step_title{
    font-size: 1.5em;
}

.step_description{

}

.done_btn{
    font-weight: bold;
}

.skip_btn{
    font-weight: bold;
}

.back_btn{
    font-weight: bold;
}


/* Experiences */

.block-experiences-overview-categories {
    margin-bottom: 20px;
}

.block-experiences-overview-categories-actions {
    margin-bottom: 20px;
}

.block-experiences-overview-category-badge {
    display: inline-block;
    background: #008196;
    padding: 2px 7px 2px 7px;
    color: #ffffff;
}

.block-experiences-overview-category-text {
    display: inline-block;
    background: #008196;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

.block-experiences-overview-category {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.block-experiences-overview-experiences-actions {
    margin-bottom: 20px;
}

.block-experiences-overview-courses {
    margin-bottom: 20px;
}

.block-experiences-overview-courses-actions {
    margin-bottom: 20px;
}

.block-experiences-overview-course-text {
    display: inline-block;
    background: #008196;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

.block-experiences-overview-course {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}