.block-experiences-overview-category-badge {
  display: inline-block;
  background: #008196;
  padding: 2px 7px 2px 7px;
  color: #ffffff;
}

.block-experiences-overview-category-text {
  display: inline-block;
  background: #008196;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
}

.block-experiences-overview-category {
  display: inline-block;
  padding: 0px 10px 0px 0px;
}
