/**
 * Style sheets for block_onboarding plugin.
 * The styles are grouped by features and sections, which implement the styles.
 */

/* ------------------------------------------------- */

/* General */
/* TODO ONLY FOR PLUGIN  */
ul {
    margin-bottom: 0 !important;
}

.block-onboarding-btn-normal {
    background-color: #578014 !important;
    border: none;
    color: #ffffff !important;
    outline-color: #ffffff !important;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.block-onboarding-title {
    font-size: 1.8em;
}

.block-onboarding-title-2-light {
    font-weight: lighter;
    font-size: 1.6em;
}

.block-onboarding-confirm-btn{
    color: #ca3120;
}

.block-onboarding-confirm-btn:hover{
    color: #852116;
    cursor: pointer;
}

.block-onboarding-link-btn{
    color: var(--primary) !important;
}

/* ------------------------------------------------- */

/* Home */

.block-onboarding-home-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.block-onboarding-home-title {
    font-weight: lighter;
    font-size: 1.3em;
    margin-bottom: 0.25em;
}

.block-onboarding-home-description {
    vertical-align: top;
}

.block-onboarding-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

.block-onboarding-card-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

.block-onboarding-container {
    padding: 2px 16px;
}

.block-onboarding-card-button {
    position: absolute;
    bottom: 0;
}

/* ------------------------------------------------- */

/* Guide */

.block-onboarding-admin-title {
    font-size: 1.8em;
    padding-bottom: 12px;
}

.block-onboarding-admin-content-title {
    width: fit-content;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #006784;
    border-radius: 8px;
    padding: 7px 9px;
}

.block-onboarding-admin-content-wrapper {
    font-size: 1.1em;
    margin-top: 6px;
    margin-left: 4px;
}

.block-onboarding-admin-content-wrapper-list {
    font-size: 1.1em;
    padding-bottom: 12px;
    margin-top: 6px;
    margin-left: 4px;
}

.block-onboarding-admin-edit-btn {
    padding-left: 12px;
}

/* ------------------------------------------------- */

/* Wiki */

.block-onboarding-wiki-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-onboarding-wiki-cat-container {
    width: calc(100% - 4px);
    position: relative;
    background-color: slategray;
    border-radius: 5px;
    margin: 5px 2px;
    padding: 7px;
}

.block-onboarding-wiki-cat-title-wrapper {
    font-weight: bold;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #006784;
    border-radius: 8px;
    padding: 7px;
}

.block-onboarding-wiki-cat-content-wrapper {
    font-size: 1.1em;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-top: 4px;
    padding: 5px 0px 5px 3px;
}

.block-onboarding-custom-tooltip {
    position: relative;
    display: inline-block;
}

.block-onboarding-custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 480px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.block-onboarding-custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}

/* ------------------------------------------------- */

/* Steps */

.block-onboarding-steps-container {
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 3px;
    background-image: url([[pix:block_onboarding|library]]);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ececec;
    display: none;
}

.block-onboarding-steps-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-onboarding-steps-title-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.block-onboarding-steps-content-wrapper {
    background-color: rgba(128, 128, 128, 0.8);
    color: #ffffff;
    margin: 3px;
    padding: 7px;
    border-radius: 6px;
}

.block-onboarding-steps-progress-bar {
    position: relative;
    width: calc(100% - 6px);
    height: 30px;
    background-color:  var(--primary);
    margin: 3px;
    border-radius: 8px;
    border: 3px solid #000000;
}

.block-onboarding-steps-progress-bar-fill {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background: #32cd32;
    transition: width 1.2s;
}

.block-onboarding-steps-progress-bar-value {
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.block-onboarding-steps-button-wrapper {
    margin-top: 6px;
}

.block-onboarding-steps-step-title {
    font-size: 1.5em;
}

.block-onboarding-steps-step-description {
}

.block-onboarding-steps-step-completed {
    color: #ffffff;
    background-color: #32cd32;
    padding: 1px 5px 1px 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 6px;
    visibility: hidden;
}

.block-onboarding-steps-next-btn {
    outline: 0 !important;
}

.block-onboarding-steps-back-btn {
    outline: 0 !important;
}

.block-onboarding-steps-reset-btn {
    outline: 0 !important;
    visibility: hidden;
}

.block-onboarding-steps-hide-btn {
    cursor: pointer;
    color: var(--primary);
    display: none;
}

.block-onboarding-steps-show-btn {
    cursor: pointer;
    color: var(--primary);
    display: none;
}

.block-onboarding-steps-hide-btn + a {
    margin-left: 25px;
}

.block-onboarding-steps-show-btn + a {
    margin-left: 25px;
}

#block-onboarding-steps-achievement-confetti {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.7;
    pointer-events: none;
}

/* ------------------------------------------------- */

/* Experiences */

.block-onboarding-experiences-title-wrapper {
    float: right;
}

.block-onboarding-experiences-overview-categories {
    margin-bottom: 20px;
}

.block-onboarding-experiences-overview-categories-actions {
    margin-bottom: 20px;
}

.block-experiences-overview-category-badge {
    display: inline-block;
    background: #008196;
    padding: 2px 7px 2px 7px;
    color: #ffffff;
}

.block-onboarding-experiences-overview-category-text {
    font-weight: lighter;
    font-size: 1.3em;
    display: inline-block;
    background: #008196;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

.block-onboarding-experiences-overview-category {
    display: inline-block;
    padding: 0 10px 0 0;
    margin-bottom: .7rem;
}

.block-onboarding-experiences-overview-experiences-actions {
    margin-bottom: 20px;
    margin-left: 20px;
}

.block-onboarding-experiences-overview-courses {
    margin-bottom: 20px;
}

.block-onboarding-experiences-overview-courses-actions {
    margin-bottom: 20px;
}

.block-onboarding-experiences-overview-course-text {
    font-weight: lighter;
    font-size: 1.3em;
    display: inline-block;
    background: #008196;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

.block-onboarding-experiences-overview-course {
    display: inline-block;
    padding: 0 10px 0 0;
    margin-bottom: .7rem;
}

.block-onboarding-experiences-overview-report {
    margin-bottom: 20px;
}

.block-onboarding-experiences-overview-report-actions {
    margin-bottom: 20px;
}

.block-onboarding-experiences-experience-container {
}

.block-onboarding-experiences-experience-header-container {
    margin: .5em .5em;
    border-radius: 8px;
    padding: 3px;
    background-image: url([[pix:block_onboarding|library]]);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ececec;
}

.block-onboarding-experiences-experience-title-wrapper {
    color: #ffffff;
    background-color: #006784;
    margin: .25em;
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.block-onboarding-experiences-experience-title-title {
    font-weight: bold;
    font-size: 1.3em;
}

.block-onboarding-experiences-experience-title-btn{
    color: #ffffff !important;
}

.block-onboarding-experiences-experience-title-edit-btn {
    color: #ffffff;
    margin-left: 0.7em;
}

.block-onboarding-experiences-experience-title-helpful {
    float: right;
    margin-bottom: 0;
}

.block-onboarding-experiences-experience-helpful-btn {
    margin-left: 0.5em;
    background-color: rgba(128, 128, 128, 0.8);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.block-onboarding-experiences-experience-helpful-btn:hover {
    background-color: rgba(128, 128, 128, 1);
}

.block-onboarding-experiences-experience-title-info {
    background-color: rgba(128, 128, 128, 0.8);
    color: #ffffff;
    margin: 0.25em;
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.block-onboarding-experiences-experience-title-info-p {
    margin-bottom: 0;
}

.block-onboarding-experiences-experience-title-takeaways-title {
    font-weight: bold;
    width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    color: #ffffff;
    text-shadow: 2px 2px 5px #555;
}

.block-onboarding-experiences-experience-title-takeaways-list{
    margin-bottom: 0.25em;
}

.block-onboarding-experiences-experience-title-takeaways-cat{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.1em 0.2em;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 0.6em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.block-onboarding-experiences-experience-content-container {
    margin: .5em .5em;
    border-radius: 8px;
    padding: 3px;
    background-color: #d5d7da;
}

.block-onboarding-experiences-experience-content-cat {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    margin: 0.25em 0.25em 0.5em 0.25em;
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.block-onboarding-experiences-experience-content-title {
    font-weight: bold;
}

.block-onboarding-experiences-experience-footer {
    margin: 0.5em;
}

.block-onboarding-experiences-overview-experiences {
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: auto auto;
}
/* TODO ONLY FOR PLUGIN  */
navigation {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

filter {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

aside {
    border-left: 1px solid lightgray;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}