.ul{
    margin-bottom: 0 !important;
}

.btn-normal {
    background-color: #03A9F4;
    /* Green */
    border: none;
    color: #ffffff;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.title {
    font-size: 1.8em;
}

/* Home */

.home-container {
    display: flex;
    justify-content: space-between;
    margin: 0 -1em;
}

.onboarding-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

.onboarding-card-block {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
    margin: 0 1em;
    position: relative;
}


/* On mouse-over, add a deeper shadow */


/*.onboarding-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}*/


/* Add some padding inside the card container */

.onboarding-container {
    padding: 2px 16px;
}

.onboarding-card-button {
    position: absolute;
    bottom: 0px;
}

/* Guide */

.admin-title{
    font-size: 1.8em;
    padding-bottom: 12px;
}

.admin-content-title{
    width: fit-content;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #006784;
    border-radius: 8px;
    padding: 7px 9px;
}

.admin-content-wrapper{
    font-size: 1.1em;
    margin-top: 6px;
    margin-left: 4px;
}

.admin-edit-btn{
    padding-left: 12px;
}

/* Wiki */

.wiki-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wiki-cat-container{
    width: calc(100% - 4px);
    position: relative;
    background-color: slategray;
    border-radius: 5px;
    margin: 5px 2px;
    padding: 7px;
}

.wiki-cat-title-wrapper{
    font-weight: bold;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #006784;
    border-radius: 8px;
    padding: 7px;
}

.wiki-cat-content-wrapper{
    font-size: 1.1em;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-top: 4px;
    padding: 5px 0px 5px 3px;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 480px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}


/* Steps */

.steps-container {
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 3px;
    background-image: url([[pix:block_onboarding|library]]);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ececec;
}

.steps-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps-content-wrapper {
    background-color: rgba(128,128,128,0.8);
    color: #ffffff;
    margin: 3px;
    padding: 7px;
    border-radius: 6px;
}

.progress-bar {
    position: relative;
    width: calc(100% - 6px);
    height: 30px;
    background-color: #868686;
    margin: 3px;
    border-radius: 8px;
    border: 3px solid #000000;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background: #32cd32;
    transition: width 1.2s;
}

.progress-bar-value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.steps-button-wrapper {
    margin-top: 6px;
}

.step-title {
    font-size: 1.5em;
}

.step-completed {
    color: #ffffff;
    background-color: #32cd32;
    padding: 0px 5px 0px 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: 20px;
    visibility: hidden;
}

.next-btn {
    outline: 0 !important;
}

.back-btn {
    outline: 0 !important;
}

.skip-btn {
    outline: 0 !important;
}

#achievement-confetti {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
}


/* Experiences */

.experiences-title-wrapper {
    float: right;
}

.block-experiences-overview-categories {
    margin-bottom: 20px;
}

.block-experiences-overview-categories-actions {
    margin-bottom: 20px;
}

.block-experiences-overview-category-badge {
    display: inline-block;
    background: #008196;
    padding: 2px 7px 2px 7px;
    color: #ffffff;
}

.block-experiences-overview-category-text {
    display: inline-block;
    background: #008196;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

.block-experiences-overview-category {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.block-experiences-overview-experiences-actions {
    margin-bottom: 20px;
    margin-left: 20px;
}

.block-experiences-overview-courses {
    margin-bottom: 20px;
}

.block-experiences-overview-courses-actions {
    margin-bottom: 20px;
}

.block-experiences-overview-course-text {
    display: inline-block;
    background: #008196;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

.block-experiences-overview-course {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.block-experiences-overview-report {
    margin-bottom: 20px;
}

.block-experiences-overview-report-actions {
    margin-bottom: 20px;
}

.block-experiences-experience-helpful {
    float: right;
}

.block-experiences-experience-helpful_btn {
}

.block-experiences-experience-popularity {
}

.block-experiences-overview-experiences {
    height: 35vh;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 25% 25% 25% 25%;
}

navigation {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

filter {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

aside {
    border-left: 1px solid lightgray;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}


/* General */