{{#categories_with_experiences}}
    <h4>{{{name}}} <a href="edit_category.php?category_id={{{id}}}">{{#pix}}t/editstring, core, Edit Experience{{/pix}}</a><a href="delete_category.php?category_id={{{id}}}">{{#pix}}t/delete, core, Delete Experience{{/pix}}</a></h3>
    <ul>
      {{#experiences}}
      <li>
        <a href="{{{url}}}">{{{name}}}</a> <a href="edit_experience.php?experience_id={{{id}}}">{{#pix}}t/editstring, core, Edit Experience{{/pix}}</a><a href="delete_experience.php?experience_id={{{id}}}">{{#pix}}t/delete, core, Delete Experience{{/pix}}</a>
      </li>
      {{/experiences}}
    </ul>
{{/categories_with_experiences}}
<a href="edit_category.php">New Category</a>
<br>
<a href="edit_experience.php">New Experience</a>
