<!--<a class="btn btn-default btn-block" href="{{{guide_url}}}">Guide</a>
<a class="btn btn-default btn-block" href="{{{experiences_url}}}">Experiences</a>-->

<div class="home-container">
    <div class="onboarding-card">
    <img src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:100%">
        <a class="onboarding-card-button btn btn-default btn-block" href="{{{guide_url}}}">Guide</a>
    </div>
    <div class="onboarding-card">
    <img src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Avatar" style="width:100%">
    <a class="onboarding-card-button btn btn-default btn-block" href="{{{experiences_url}}}">Experiences</a>
    </div>
</div>
