<!--<a class="btn btn-default btn-block" href="{{{guide_url}}}">Guide</a>
<a class="btn btn-default btn-block" href="{{{experiences_url}}}">Experiences</a>-->


<div class="onboarding-card-block">
<img src="{{base_plugin_url}}pix/compass.jpeg" alt="Avatar" style="width:100%">
    <a class="onboarding-card-button btn btn-block btn-normal" href="{{{guide_url}}}">Guide</a>
</div>
<br></br>
<div class="onboarding-card-block">
<img src="{{base_plugin_url}}pix/students.jpeg" alt="Avatar" style="width:100%">
<a class="onboarding-card-button btn btn-block btn-normal" href="{{{experiences_url}}}">Experiences</a>
</div>
