<a href="overview.php">{{#pix}}t/left, core, Back{{/pix}}Back to Overview</a>
<br></br>
<div class="block-experiences-experience-helpful">
    <p>
        {{# str }} helpful, block_onboarding {{/ str }}
        <button class="block-experiences-experience-helpful_btn" type=button>Yes</button>
    </p>
</div>
<h2>
{{#experience}}{{{name}}}
    {{#can_manage_experiences}}
        <a href="edit_experience.php?experience_id={{{id}}}">{{#pix}}t/editstring, core, Edit Experience{{/pix}}</a><span onb-data-id="{{{id}}}" onb-data-context="exp-exp" class="delete-btn">{{#pix}}t/delete, core, Delete Experience{{/pix}}</span>
    {{/can_manage_experiences}}
{{/experience}}
</h2>
    <h6>{{#author}}{{{author}}}{{/author}}{{#degreeprogram}} - {{{degreeprogram}}}{{/degreeprogram}}</h6>
{{#experience}}
<h6>{{#userdate}}{{{timecreated}}}, {{#str}} strftimedatetimeshort {{/str}}{{/userdate}}</h6>
{{/experience}}
<h4>{{# str }} takeaways, block_onboarding {{/ str }}</h4>
<ul>
{{#experiences_categories_joined_categories}}
    <li>{{{takeaway}}} [{{{name}}}]</li>
{{/experiences_categories_joined_categories}}
</ul>
{{#experience}}
    {{#aboutme}}
        <h4>{{# str }} aboutme, block_onboarding {{/ str }}</h4>
        <p>{{{aboutme}}}</p>
    {{/aboutme}}
{{/experience}}
{{#experiences_categories_joined_categories}}
    <h4>{{{name}}}</h4>
    <p>{{{description}}}</p>
{{/experiences_categories_joined_categories}}
{{#experience}}
    {{#contact}}
        <h6>{{# str }} contact, block_onboarding {{/ str }}{{{contact}}}</h6>
    {{/contact}}
    <a href="report_experience.php?experience_id={{{id}}}">{{# str }} report, block_onboarding {{/ str }}</a>
{{/experience}}