<a href="overview.php">{{#pix}}t/left, core, Back{{/pix}}Back to Overview</a>
<br></br>
<h2>{{#experience}}{{{name}}}{{/experience}}</h2>
{{#degreeprogram_author}}
<h6>{{# str }} author, block_onboarding {{/ str }}{{{author}}}</h6>
<h6>{{# str }} degreeprogram, block_onboarding {{/ str }}{{{degreeprogram}}}</h6>
{{/degreeprogram_author}}
{{#experience}}
<h6>{{# str }} date, block_onboarding {{/ str }} {{#userdate}}{{{timecreated}}}, {{#str}} strftimedatetimeshort {{/str}}{{/userdate}}</h6>
{{/experience}}
<h4>{{# str }} takeaways, block_onboarding {{/ str }}</h4>
<p>
{{#experiences_categories_joined_categories}}
    - {{{takeaway}}} [{{{name}}}] <br>
{{/experiences_categories_joined_categories}}
</p>
{{#experience}}
    <h4>{{# str }} aboutme, block_onboarding {{/ str }}</h4>
    <p>{{{aboutme}}}</p>
{{/experience}}
{{#experiences_categories_joined_categories}}
<h4>{{{name}}}</h4>
<p>{{{description}}}</p>
{{/experiences_categories_joined_categories}}
<h6>{{#experience}}{{# str }} contact, block_onboarding {{/ str }}{{{contact}}}{{/experience}}</h6>
{{#experience}} <a href="report_experience.php?experience_id={{{id}}}">{{# str }} report, block_onboarding {{/ str }}</a> {{/experience}}