<div class="block-onboarding-experiences-overview-experiences">
    <navigation>
        <a href="../index.php">
            {{#pix}}t/left, core,Back{{/pix}}{{# str }}backtohome, block_onboarding{{/ str }}
        </a>
        <div class="block-onboarding-experiences-title-wrapper">
            {{#can_manage_experiences}}
                <a href="admin.php">
                    {{#pix}}i/settings, core, {{# str }}settings, block_onboarding{{/ str }}{{/pix}}
                    {{# str }}settings, block_onboarding{{/ str }}
                </a>
            {{/can_manage_experiences}}
        </div>
    </navigation>
    <div class="block-onboarding-experiences-overview-experiences-actions">
        <br>
        {{^blocked}}
            {{^experience}}
                <div class="block-onboarding-title-2-light">
                    <a href="edit_experience.php">{{# str }}newexperience, block_onboarding{{/ str }} {{#pix}}t/editstring, core {{/pix}}</a>
                </div>
            {{/experience}}
        {{/blocked}}
        {{#experience}}
            <div class="block-onboarding-title-2-light">
                <a href="experience.php?experience_id={{{id}}}">{{# str }}editexperience, block_onboarding{{/ str }} {{^published}}[{{# str }}draft, block_onboarding{{/ str }}]{{/published}}</a>
            </div>
        {{/experience}}
    </div>
    <filter>
        <div class="block-onboarding-title-2-light">
        {{# str }}searchexperiences, block_onboarding{{/ str }}
        </div>
        {{#form}}{{{form}}}{{/form}}
    </filter>
</div>
<br>