<a href="../index.php">{{#pix}}t/left, core, {{# str }}back, block_onboarding{{/ str }}{{/pix}}{{# str }}backtohome, block_onboarding{{/ str }}</a>
<br>
<div class="steps-title-wrapper">
    <span class="title">{{# str }}steps, block_onboarding{{/ str }}</span>
    <span class="steps-title-button-wrapper">
        <span class="hide-btn">
            {{#pix}}i/show, core, {{# str }}hide_steps, block_onboarding{{/ str }}{{/pix}}
            {{# str }}hide, block_onboarding{{/ str }}
        </span>
        <span class="show-btn">
            {{#pix}}i/hide, core, {{# str }}show_steps, block_onboarding{{/ str }}{{/pix}}
            {{# str }}show, block_onboarding{{/ str }}
        </span>
        {{#can_manage_steps}}
            <a href="admin_steps.php">
                {{#pix}}i/settings, core, {{# str }}manage_steps, block_onboarding{{/ str }}{{/pix}}
                {{# str }}settings, block_onboarding{{/ str }}
            </a>
        {{/can_manage_steps}}
    </span>
</div>
<div class="steps-container">
    <canvas id="achievement-confetti"></canvas>
    <div class="progress-bar">
        <div class="progress-bar-value"></div>
        <div class="progress-bar-fill"></div>
    </div>
    <div class="steps-content-wrapper">
        <div class="step-title-wrapper">
            <span class="step-title"></span>
            <span class="step-completed">{{# str }}completed, block_onboarding{{/ str }}</span>
        </div>
        <div class="step_description"></div>
        <div class="steps-button-wrapper">
            <button class="back-btn btn btn-primary" type=button>
                {{# str }}button_back, block_onboarding{{/ str }}
            </button>
            <button class="next-btn btn btn-primary" type=button>
                {{# str }}button_done, block_onboarding{{/ str }}
            </button>
            <button class="reset-btn btn btn-danger" type=button>
                {{# str }}button_reset, block_onboarding{{/ str }}
            </button>
        </div>
    </div>
</div>
<br>
<br>
<div class="steps-title-wrapper">
    <div class="title">{{# str }}wiki, block_onboarding{{/ str }}</div>
    {{#can_manage_wiki}}
        <a href="admin_wiki.php" class="admin-link">
            {{#pix}}i/settings, core, {{# str }}manage_wiki, block_onboarding{{/ str }}{{/pix}}
            {{# str }}settings, block_onboarding{{/ str }}
        </a>
    {{/can_manage_wiki}}
</div>
{{#categories_with_links}}
    <div class="wiki-cat-container">
        <div class="wiki-cat-title-wrapper">{{{name}}}</div>
        <div class="wiki-cat-content-wrapper">
            <ul>
                {{#links}}
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="{{{url}}}">{{{name}}}</a>
                        <div class="custom-tooltip">{{#pix}}i/info, core,{{/pix}}
                            <span class="custom-tooltiptext">{{{description}}}</span>
                        </div>
                    </li>
                {{/links}}
            </ul>
        </div>
    </div>
{{/categories_with_links}}

