<!--
TODO: Language Strings / Mustache str verwenden & Sprache anpassen
TODO: Warum müssen Buttons beim Ersten Klicken 2x geklickt werden um Aktion zu triggern? -> beheben!
TODO: CSS Anpassungen in styles.css vornehmen / ersetzen
TODO: UX überarbeiten
-->
<h2><b>Steps</b></h2>
<h5 class="step_title"><b>Step # </b></h5>
<h6>Instructions:</h6>
<div class="step_description">
</div>
<br>
<button class="back_btn" type=button><b>Back</b></button>
<button class="skip_btn" type=button><b>Skip</b></button>
<button class="done_btn" type=button><b>Done!</b></button>
<br>
<br>
{{#can_edit_steps}}<a href="admin_steps.php">Manage Steps</a>{{/can_edit_steps}}
<br></br>
<h2><b>Wiki</b></h2>
{{#categories_with_links}}
    <h4>{{{name}}}</h4>
    <ul>
      {{#links}}
      <li>
        <a target="_blank" rel="noopener noreferrer" href="{{{url}}}">{{{name}}}</a>
          <div class="custom-tooltip">{{#pix}}i/info, core,{{/pix}}
              <span class="custom-tooltiptext">{{{description}}}</span>
          </div>
      </li>
      {{/links}}
    </ul>
{{/categories_with_links}}
{{#can_manage_wiki}}<a href="admin_wiki.php">Manage Wiki</a>{{/can_manage_wiki}}
