<a href="{{dashboard_url}}">{{#pix}}t/left, core, Back{{/pix}}Back to Dashboard</a>
<br></br>
<!--<a class="btn btn-default btn-block" href="./guide/overview.php">Guide</a>
<a class="btn btn-default btn-block" href="./experiences/overview.php">Experiences</a>-->

<div class="home-container">
    <div class="onboarding-card">
    <img src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:100%">
        <div class="onboarding-container">
            <br>
            <h4>Guide</h4>
            <p>In our Guide you can find useful Links along with a handy "First Steps" - Programm, which will get you ready right away.</p>
            <br>
            <br>
        </div>
        <a class="onboarding-card-button btn btn-default btn-block" href="./guide/overview.php">To the Guide</a>
    </div>
    <div class="onboarding-card">
    <img src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Avatar" style="width:100%">
    <div class="onboarding-container">
        <br>
        <h4>Experiences</h4>
        <p>Our Experiences Portal gives you the oportunity to find out how other students, before you have designed their studies. This is a great chance to learn from others mistakes. You can also find lots of inspiration on how to design your individual studies.</p>
        <br>
        <br>
    </div>
    <a class="onboarding-card-button btn btn-default btn-block" href="./experiences/overview.php">Experiences</a>
    </div>
</div>