<a href="{{dashboard_url}}">{{#pix}}t/left, core, {{#str}}back, block_onboarding{{/str}}{{/pix}}{{#str}}backtodashboard, block_onboarding{{/str}}</a>
<br>
<div class="home-container">
    <div class="onboarding-card">
    <a href="./guide/overview.php"><img src="{{base_plugin_url}}pix/compass.jpeg" alt="Avatar" style="width:100%"></a>
        <div class="onboarding-container">
            <br>
            <p class = "home-title">{{#str}}guide, block_onboarding{{/str}}</p>
            <p class="home-description">{{#str}}guide_summary, block_onboarding{{/str}}</p>
            <br>
            <br>
        </div>
        <a class="onboarding-card-button btn btn-block btn-normal" href="./guide/overview.php">{{#str}}guide_link, block_onboarding{{/str}}</a>
    </div>
    <div class="onboarding-card">
        <a href="./experiences/overview.php"><img src="{{base_plugin_url}}pix/students.jpeg" alt="Avatar" style="width:100%"></a>
    <div class="onboarding-container">
        <br>
        <p class="home-title">{{#str}}experiences, block_onboarding{{/str}}</p>
        <p class="home-description">{{#str}}experiences_summary, block_onboarding{{/str}}</p>
        <br>
        <br>
    </div>
    <a class="onboarding-card-button btn btn-block btn-normal" href="./experiences/overview.php">{{#str}}experiences, block_onboarding{{/str}}</a>
    </div>
</div>
<br>