<a href="{{dashboard_url}}">{{#pix}}t/left, core, Back{{/pix}}Back to Dashboard</a>
<br></br>
<a class="btn btn-default btn-block" href="./guide/overview.php">Guide</a>
<a class="btn btn-default btn-block" href="./experiences/overview.php">Experiences</a>