{{#experiences_with_categories}}
    <h4>{{{name}}}</h4>
    <ul>
      {{#categories}}
      <li>
        <p>{{{name}}}</p>
      </li>
      {{/categories}}
    </ul>
{{/experiences_with_categories}}
