<a href="overview.php">{{#pix}}t/left, core, Back{{/pix}}Back to Overview</a>
<br>
<br>
{{#steps}}
    <div class="wiki_title">
        #{{{position}}} - {{{achievement}}}:  {{{name}}}
        <a href="edit_step.php?step_id={{{id}}}">{{#pix}}t/editstring, core, Edit Step{{/pix}}</a>
        <a href="delete_step.php?step_id={{{id}}}">{{#pix}}t/delete, core, Delete Step{{/pix}}</a>
    </div>
    <p>{{{description}}}</p>
{{/steps}}
<a href="edit_step.php">New Step</a>
