<a href="overview.php">{{#pix}}t/left, core, {{# str }}back, block_onboarding{{/ str }}{{/pix}}{{# str }}backtooverview, block_onboarding{{/ str }}</a>
<br>
<br>
<div class="block-onboarding-admin-title">{{# str }}steps_admin, block_onboarding{{/ str }}</div>
{{#steps}}
    <span class="block-onboarding-admin-content-title">
        #{{{position}}} - {{{achievement}}}:  {{{name}}}
    </span>
    <span class="block-onboarding-admin-edit-btn">
        {{#can_manage_wiki}}
            <a href="edit_step.php?step_id={{{id}}}">{{#pix}}t/editstring, core, {{# str }}edit_step, block_onboarding{{/ str }}{{/pix}}</a>
            <span onb-data-id="{{{id}}}" onb-data-context="step" class="block-onboarding-confirm-btn">{{#pix}}t/delete, core, {{# str }}delete_step, block_onboarding {{/ str }}{{/pix}}</a>
        {{/can_manage_wiki}}
    </span>
    <p class="block-onboarding-admin-content-wrapper">{{{description}}}</p>
{{/steps}}
<a href="edit_step.php">{{#str}}new_step, block_onboarding{{/str}}</a>