<a href="overview.php">
    {{#pix}}t/left, core, {{# str }}back, block_onboarding {{/ str }}
    {{/pix}}{{# str }}backtooverview, block_onboarding {{/ str }}
</a>
<br>
<br>
<div class="admin-title">{{# str }}steps_admin, block_onboarding{{/ str }}</div>
{{#steps}}
    <span class="admin-content-title">
        #{{{position}}} - {{{achievement}}}:  {{{name}}}
    </span>
    <span class="admin-edit-btn">
        {{#can_manage_wiki}}
            <a href="edit_step.php?step_id={{{id}}}">{{#pix}}t/editstring, core, Edit Step{{/pix}}</a>
            <a href="delete_step.php?step_id={{{id}}}">{{#pix}}t/delete, core, Delete Step{{/pix}}</a>
        {{/can_manage_wiki}}
    </span>
    <p class="admin-content-wrapper">{{{description}}}</p>
{{/steps}}
<a href="edit_step.php">{{#str}}new_step, block_onboarding{{/str}}</a>
