<!--
Template
-->
{{#steps}}
<h4><b>{{{position}}}. Step &nbsp;</b><br>
    {{{name}}}{{#can_edit_steps}} <a href="edit_step.php?step_id={{{id}}}">{{#pix}}t/editstring, core, Edit Step{{/pix}}</a>
    <a href="delete_step.php?step_id={{{id}}}">{{#pix}}t/delete, core, Delete Step{{/pix}}</a>{{/can_edit_steps}}
</h4>
<p>{{{description}}}</p>
{{/steps}}
{{#can_edit_steps}}<a href="edit_step.php">New Step</a>{{/can_edit_steps}}
