<a href="overview.php">{{#pix}}t/left, core, {{# str }}back, block_onboarding{{/ str }}{{/pix}}{{# str }}backtooverview, block_onboarding{{/ str }}</a>
<br>
<br>
<div class="block-onboarding-admin-title">{{# str }}wiki_admin, block_onboarding{{/ str }}</div>
{{#categories_with_links}}
    <span class="block-onboarding-admin-content-title">{{{name}}}</span>
    <span class="block-onboarding-admin-edit-btn">
        {{#can_manage_wiki}}
            <a href="edit_category.php?category_id={{{id}}}">{{#pix}}t/editstring, core, {{# str }}edit_category, block_onboarding{{/ str }}{{/pix}}</a>
            <span onb-data-id="{{{id}}}" onb-data-context="wiki-category" class="block-onboarding-confirm-btn">{{#pix}}t/delete, core, {{# str }}delete_category, block_onboarding{{/ str }}{{/pix}}</span>
        {{/can_manage_wiki}}
    </span>
    <ul class="block-onboarding-admin-content-wrapper-list">
        {{#links}}
            <li>
                <a target="_blank" rel="noopener noreferrer" href="{{{url}}}">{{{name}}}</a>
                <span class="block-onboarding-admin-edit-btn">
                    {{#can_manage_wiki}}
                        <a href="edit_link.php?link_id={{{id}}}">{{#pix}}t/editstring, core, {{# str }}edit_link, block_onboarding{{/ str }}{{/pix}}</a>
                        <span onb-data-id="{{{id}}}" onb-data-context="wiki-link" class="block-onboarding-confirm-btn">{{#pix}}t/delete, core, {{# str }}delete_link, block_onboarding{{/ str }}{{/pix}}</a>
                    {{/can_manage_wiki}}
                </span>
                <div class="block-onboarding-custom-tooltip">{{#pix}}i/info, core{{/pix}}
                    <span class="custom-tooltiptext">{{{description}}}</span>
                </div>
            </li>
        {{/links}}
    </ul>
{{/categories_with_links}}
<a href="edit_category.php">{{#str}}new_category, block_onboarding{{/str}}</a>
<br>
<a href="edit_link.php">{{#str}}new_link, block_onboarding{{/str}}</a>