<!--
TODO: Language Strings / Mustache str verwenden & Sprache anpassen
TODO: Warum müssen Buttons beim Ersten Klicken 2x geklickt werden um Aktion zu triggern? -> beheben!
TODO: CSS Anpassungen in styles.css vornehmen / ersetzen
TODO: UX überarbeiten
-->
<a href="../index.php">{{#pix}}t/left, core, Back{{/pix}}Back to Home</a>
<br></br>
<div class="steps-title-wrapper">
    <h2><b>Wiki</b></h2>
    {{#can_manage_wiki}}<a href="admin.php" class="admin-link">{{#pix}}i/settings, core, Manage Wiki{{/pix}}Settings</a>{{/can_manage_wiki}}
</div>
{{#categories_with_links}}
    <h4>{{{name}}}</h4>
    <ul>
      {{#links}}
      <li>
        <a target="_blank" rel="noopener noreferrer" href="{{{url}}}">{{{name}}}</a>
          <div class="custom-tooltip">{{#pix}}i/info, core,{{/pix}}
              <span class="custom-tooltiptext">{{{description}}}</span>
          </div>
      </li>
      {{/links}}
    </ul>
{{/categories_with_links}}
