<a href="overview.php">
    {{#pix}}t/left, core, {{# str }}nav_back, block_onboarding {{/ str }}
    {{/pix}}{{# str }} nav_back_home, block_onboarding {{/ str }}
</a>
<br>
<br>
<div class="admin-title">{{# str }}wiki_admin, block_onboarding{{/ str }}</div>
{{#categories_with_links}}
    <span class="admin-content-title">{{{name}}}</span>
    <span class="admin-edit-btn">
        {{#can_manage_wiki}}
            <a href="edit_category.php?category_id={{{id}}}">{{#pix}}t/editstring, core, Edit Link{{/pix}}</a>
            <a href="delete_category.php?category_id={{{id}}}">{{#pix}}t/delete, core, Delete Link{{/pix}}</a>
        {{/can_manage_wiki}}
    </span>
    <ul class="admin-content-wrapper">
        {{#links}}
            <li>
                <a target="_blank" rel="noopener noreferrer" href="{{{url}}}">{{{name}}}</a>
                <span class="admin-edit-btn">
                    {{#can_manage_wiki}}
                        <a href="edit_link.php?link_id={{{id}}}">{{#pix}}t/editstring, core, Edit Link{{/pix}}</a>
                        <a href="delete_link.php?link_id={{{id}}}">{{#pix}}t/delete, core, Delete Link{{/pix}}</a>
                    {{/can_manage_wiki}}
                </span>
                <div class="custom-tooltip">{{#pix}}i/info, core,{{/pix}}
                    <span class="custom-tooltiptext">{{{description}}}</span>
                </div>
            </li>
        {{/links}}
    </ul>
{{/categories_with_links}}
<a href="edit_category.php">{{#str}}new_category, block_onboarding{{/str}}</a>
<br>
<a href="edit_link.php">{{#str}}new_link, block_onboarding{{/str}}</a>