<!--
Template

LANGUAGE STRINGS VERWENDEN!!!
HTML REPLACE UNSCHÖN
-->
<h5 class="step_title"><b>Step #{{data.position}}: {{data.name}}</b></h5>
<h6>Instructions:</h6>
<div class="step_description">
    {{data.description}}
</div>
</br>
<button class="next_btn" type=button><b>Erledigt!</b></button>
</br>
</br>
</br>
</br>
{{#categories_with_links}}
    <h4>{{{name}}} <a href="edit_category.php?category_id={{{id}}}">{{#pix}}t/editstring, core, Edit Link{{/pix}}</a><a href="delete_category.php?category_id={{{id}}}">{{#pix}}t/delete, core, Delete Link{{/pix}}</a></h4>
    <ul>
      {{#links}}
      <li>
        <a href="{{{url}}}">{{{name}}}</a> <a href="edit_link.php?link_id={{{id}}}">{{#pix}}t/editstring, core, Edit Link{{/pix}}</a><a href="delete_link.php?link_id={{{id}}}">{{#pix}}t/delete, core, Delete Link{{/pix}}</a>
      </li>
      {{/links}}
    </ul>
{{/categories_with_links}}
<a href="edit_category.php">New Category</a>
<br>
<a href="edit_link.php">New Link</a>
